footer.footer 
  .footer__logo 
    img(src='/img/fresh_go/logo.png' alt='FreshGO logo')
  ul.footer__nav 
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Careers
    li: a(href='#') Contact