doctype html 
//- html(lang="en")
html
  head
    block head
      meta(charset='UTF-8')
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')   

      title Fresh_GO | #{title}
      link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
      link(rel='stylesheet' href='/css/style_freshGo.css')
      link(rel='shortcut icon' type='image/png' href='img/fresh_go/favicon.png')
  body
    // HEADER
    include _header

    // CONTENT
    block content  
      //- h1 This is a placeholder heading

    // FOOTER
    include _footer

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/script.js')
    //- script(src='/js/login.js')
    
    script(src="https://js.stripe.com/v3/")
    script(src='/js/bundle.js')
    script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")





