doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fresh G Website
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    // header section begin
    header.header
      a.logo(href="#")
        i.fas.fa-shopping-basket
        | FreshG
      nav.navbar
        a(href="#Home") home
        a(href="#Features") features
        a(href="#Products") products
        a(href="#Categories") categories
        a(href="#Review") review
        a(href="#Blogs") blogs
      .icons
        #menu-btn.fas.fa-bars
        #search-btn.fas.fa-search
        #cart-btn.fas.fa-shopping-cart
        #login-btn.fas.fa-user
      form.search-form(action=)
        input#search-box(type="search", placeholder="Search your items here...")
        label.fas.fa-search(for="search-box")
      .shopping-cart
        .box
          i.fas.fa-trash
          img(src="image/cart-img-1.png", alt=)
          .content
            h3 watermelon
            span.price $4.99/-
            span.quantity qty : 1
        .box
          i.fas.fa-trash
          img(src="image/cart-img-2.png", alt=)
          .content
            h3 onion
            span.price $4.99/-
            span.quantity qty : 1
        .box
          i.fas.fa-trash
          img(src="image/cart-img-3.png", alt=)
          .content
            h3 chicken
            span.price $4.99/-
            span.quantity qty : 1
        .total  total : $19.69/-
        a.btn(href="#") checkout
      form.login-form(action=)
        h3 login now
        input.box(type="email", placeholder="Enter your email")
        input.box(type="password", placeholder="Enter your password")
        p forget your password 
          a(href="#") click here
        p don&apos;t have account 
          a(href="#") create now
        input.btn(type="submit", value="login now")
    // header section end
    // home section start
    section#home.home
      .content
        h3 fresh and 
          span organic
          | product for your
        p
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
          | Saepe dolore asperiores sint odit ab id repudiandae! 
          | Doloribus nisi dolorem corrupti saepe iste possimus soluta veritatis, 
          | voluptate sunt autem quis sint?
        a.btn(href="#") shop now
    // home section end
    // features section start
    section#features.features
      h1.heading our 
        span features
      .box-container
        .box
          img(src="image/feature-img-1.png", alt=)
          h3 fresh and organic
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          a.btn(href="#") read more
        .box
          img(src="image/feature-img-2.png", alt=)
          h3 free delivery
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          a.btn(href="#") read more
        .box
          img(src="image/feature-img-3.png", alt=)
          h3 easy payment
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          a.btn(href="#") read more
    // features section end
    // product section start
    section#products.products
      h1.heading our 
        span products
      .swiper.product-slider
        .swiper-wrapper
          .swiper-slide.box
            img(src="image/product-1.png", alt=)
            h3 fresh organge
            .price  $4.99/- - 10.99/- 
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
            a.btn(href="#") add to cart
          .swiper-slide.box
            img(src="image/product-2.png", alt=)
            h3 fresh onion
            .price  $4.99/- - 10.99/- 
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
            a.btn(href="#") add to cart
          .swiper-slide.box
            img(src="image/product-3.png", alt=)
            h3 fresh meat
            .price  $4.99/- - 10.99/- 
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
            a.btn(href="#") add to cart
          .swiper-slide.box
            img(src="image/product-4.png", alt=)
            h3 fresh cabbage
            .price  $4.99/- - 10.99/- 
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
            a.btn(href="#") add to cart
      .swiper.product-slider
        .swiper-wrapper
          .swiper-slide.box
            img(src="image/product-5.png", alt=)
            h3 fresh potato
            .price  $4.99/- - 10.99/- 
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
            a.btn(href="#") add to cart
          .swiper-slide.box
            img(src="image/product-6.png", alt=)
            h3 fresh avocado
            .price  $4.99/- - 10.99/- 
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
            a.btn(href="#") add to cart
          .swiper-slide.box
            img(src="image/product-7.png", alt=)
            h3 fresh carrot
            .price  $4.99/- - 10.99/- 
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
            a.btn(href="#") add to cart
          .swiper-slide.box
            img(src="image/product-8.png", alt=)
            h3 fresh lemon
            .price  $4.99/- - 10.99/- 
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
            a.btn(href="#") add to cart
    // product section end
    // category section start
    section#categories.categories
      h1.heading product 
        span categories
      .box-container
        .box
          img(src="image/cat-1.png", alt=)
          h3 vegetables
          p upto 45% off
          a.btn(href="#") shop now
        .box
          img(src="image/cat-2.png", alt=)
          h3 fresh fruits
          p upto 45% off
          a.btn(href="#") shop now
        .box
          img(src="image/cat-3.png", alt=)
          h3 dairy products
          p upto 45% off
          a.btn(href="#") shop now
        .box
          img(src="image/cat-4.png", alt=)
          h3 fresh meat
          p upto 45% off
          a.btn(href="#") shop now
    // category section end
    // review section starts
    section#review.review
      h1.heading customer&apos;s 
        span review
      .swiper.review-slider
        .swiper-wrapper
          .box
            img(src="image/pic-1.png", alt=)
            p
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non velit ea ullam praesentium quisquam natus modi, 
              | aspernatur esse ad officia ab libero similique temporibus laboriosam enim, totam voluptatem consequuntur minus!
            h3 john deo
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
          .box
            img(src="image/pic-2.png", alt=)
            p
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non velit ea ullam praesentium quisquam natus modi, 
              | aspernatur esse ad officia ab libero similique temporibus laboriosam enim, totam voluptatem consequuntur minus!
            h3 john deo
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
          .box
            img(src="image/pic-3.png", alt=)
            p
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non velit ea ullam praesentium quisquam natus modi, 
              | aspernatur esse ad officia ab libero similique temporibus laboriosam enim, totam voluptatem consequuntur minus!
            h3 john deo
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
          .swipper-slider.box
            img(src="image/pic-4.png", alt=)
            p
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non velit ea ullam praesentium quisquam natus modi, 
              | aspernatur esse ad officia ab libero similique temporibus laboriosam enim, totam voluptatem consequuntur minus!
            h3 john deo
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
    // review section end
    script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
    // script section
    script(src="js/script.js")
